@page
@model PRACTICA3.Pages.Paginas.Ventas.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h1>@Model.prueba</h1>
<h1>@Model.TotalCompras</h1>
<h4>Confirmar Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venta.ClienteID" class="control-label"></label>
                <select asp-for="Venta.ClienteID" class ="form-control" asp-items="ViewBag.ClienteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Venta.Fecha" class="control-label">Fecha: @DateTime.Now</label>
                <hidden asp-for="Venta.Fecha" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")"/>
                <span asp-validation-for="Venta.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta.PrecioTotal" class="control-label">Total: @Model.TotalCompras</label>
                <hidden asp-for="Venta.PrecioTotal" class="form-control" value="@Model.TotalCompras"></hidden>
                <span asp-validation-for="Venta.PrecioTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
