@page
@model PRACTICA3.Pages.Paginas.Ventas.IndexModel
@using PRACTICA3.Modelos
@{
    ViewData["Title"] = "Index";
}

<h1>VENTAS REALIZADAS</h1>
<form>
    <select class="form-select" asp-for="ValorTipo">
        <!-- para buscar el tipo que tiene la clase, haciendo excepciones de algunos campos-->
        @foreach (var tipo in typeof(Venta).GetProperties())
        {
            if (tipo.Name != "VentaID" && tipo.Name != "ClienteID" && tipo.Name != "Productos")
            {
                <option value="@tipo.Name">@tipo.Name</option>
            }
        }
    </select>
    <p>
        <input type="text" asp-for="ValorFiltrado" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venta[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venta[0].PrecioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venta[0].Clientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Venta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.NombreCompleto)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VentaID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.VentaID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.VentaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
