@page
@model PRACTICA3.Pages.Paginas.Clientes.IndexModel
@using PRACTICA3.Modelos
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <select class="form-select" asp-for="ValorTipo">
        <!-- para buscar el tipo que tiene la clase, haciendo excepciones de algunos campos-->
        @foreach (var tipo in typeof(Cliente).GetProperties())
        {
            if (tipo.Name != "ClienteID" && tipo.Name != "Ventas" && tipo.Name != "NombreCompleto")
            {
                <option value="@tipo.Name">@tipo.Name</option>
            }
        }
    </select>
    <p>
        <input type="text" asp-for="ValorFiltrado" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].CI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CI)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClienteID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClienteID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClienteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
